@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.title1{color: rgb(13, 19, 33);    
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    
}

.title2{color: rgb(13, 19, 33);    
    font-size: 2rem;
    font-weight: 800; 
    margin-bottom: 0px;
    margin-top: 10px;  
    
}

.title3{color: rgb(86, 88, 92);    
    font-size: 2rem;
    font-weight: 800; 
    margin-bottom: -13px;
    margin-top: 15px;  
    
}

.title4{color: rgb(255, 255, 255);    
    font-size: 2rem;
    font-weight: 800; 
    margin-bottom: -13px;
    margin-top: 15px;  
    
}

.sub-title1{color: rgb(13, 19, 33);    
    font-size: 1.5rem;
    font-weight: 660;   
    margin-bottom: 10px;
}

.sub-title2{color: rgb(93, 85, 85);    
    font-size: 1rem;
    font-weight: 500; 
    margin-bottom: 20px;  
    
}

.btn{
    background-color: orange;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 19px ;
    border: none;
    border-radius: 8px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.nav-items{
    display: flex;
    

}

.nav-item{
    list-style: none;
    margin-right: 30px; ;
}

.nav-link{
    text-decoration: none;
    color: rgb(109, 105, 105);
}

.bg-color1{
    background-color: rgba(255, 144, 14, 0.1)
    
}

.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.banner-image{
    width: 100%;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-bottom: 60px;
    margin-top: 60px;
}
/* features1 */
.features-container{
    display: flex;
    align-items: center;
}

.images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
}

.quicklist{
     color: rgb(97, 92, 92);
     font-weight: 500;
}

.orange{
    color: orange;

}

.features{
   margin-left: 40px;
   max-width: 520px;
}


/* features2 */
.orangebar{
    border-left:  5px solid orange; 
    padding-left: 20px;
}

.features2{
    display: flex;
    gap: 170px;

}

.box2{
    box-shadow: 0px 4px 30px 0 rgb(229, 225, 225);
    padding: 30px;
    border-radius: 8px;
    
}

.box2-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience{
    margin-top: -200px;
    margin-left: -80px;
    padding: 45px 35px;
    opacity: 0.8;
}

.badge img{
    width: 100%;
}

/* somefacts */

.box{
    border: 2px solid orange;
    border-radius: 8px;  
    width: 240px;
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px auto;
    
}

.boxcontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.factdescription{
    max-width: 600px;
}

/* our sponsors */

.head{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
}


/* responsive media query */

@media screen and (max-width: 576px){
    .nav-bar,.nav-items,.features-container, .features2
    {
        display: flex;
        flex-direction: column;
    }   
     
    
.images, .boxcontainer, .sponsors{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 18px;
}

.boxcontainer, .sponsors{
    justify-items: center;
}
.features{
    margin-left: 20px;
}

.experience{
    margin-left: 20px;
}

}